body {
    max-width: 1000px;
    float:none;
    margin:auto;
    background-color: bisque;
    font-family: "Optima, sans-serif";
}

main img{
    width: 500px 200px;
}

.blog-title{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-self: auto;
}